:root{
    --blanco: #FFFFFF;
    --negro: #252525;

}
@font-face {
    font-family: "Times-Regular";
    src: url(../storage/font/times/Typography\ Times\ Regular.ttf);
}
@font-face {
    font-family:"Poppins-Regular" ;
    src: url(../storage/font/poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Times-Regular";
    src: url(../storage/font/times/Typography\ Times\ Regular.ttf);
}
@font-face {
    font-family: "Times-Bold" ;
    src: url(../storage/font/times/Typography\ Times\ Bold.ttf);
}