<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page13</title>
    <link rel="stylesheet" href="../css/page13-style.css">
</head>
<body>
    <div class="main_container">
        <img class="img_bottom" src="../storage/page13-img/Image bottom.png" />
        <img class="img_top" src="../storage/page13-img/Image top.png" />

        <div class="content">
          <img class="gradient" src="../storage/page13-img/Gradient bg.png" />

          <div class="text">
            <div class="design">
              Create
              <br />
              your
              <br />
              design
            </div>

            <div class="lorem"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in
              libero risus semper habitant arcu eget.
            </div>

            <div class="button">
              <div class="explore">Explore</div>
            </div>

          </div>

        </div>

        <div class="container1">
          <div class="num">01</div>

          <div class="lorem2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in
            libero risus.
          </div>
        </div>
        
        <div class="container2">
          <div class="num2">02</div>

          <div class="lorem2"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in
            libero risus.
          </div>

        </div>

        <img class="party" src="../storage/page13-img/Party.png" />
        <img class="explosion" src="../storage/page13-img/Explosion.png" />
        <img class="star" src="../storage/page13-img/star.png" />
        <img class="star2" src="../storage/page13-img/star1.png" />
      </div>
      
</body>
</html>


