<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page7</title>
    <link rel="stylesheet" href="../css/page7-style.css">
</head>
<body>
    <main>
        <div class="title">
            <h1>Design is the way how 
                you express the feelings</h1>

        </div>

        <div class="content">

            <div class="column">
                <h2>01</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="image">

                    <img src="../storage/page7-img/pic.one.png" alt="">
                    
                </div>
            </div>
            
            <div class="column">
                <h2>02</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="image">
                    <img src="../storage/page7-img/pic.two.png" alt="">

                    <div class="img_text">
        
                    </div>
                </div>
            </div>

            <div class="column">
                <h2>03</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="image">

                    <img src="../storage/page7-img/pic.three.png" alt="">

                    <div class="img_text">
                    </div>
                </div>
            </div>

            <div class="column">
                <h2>04</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="image">
                    <img src="../storage/page7-img/pic.four.png" alt="">

                    <div class="img_text">
                    
                    </div>
            </div>
    
            </div>
        </div>
    </main>
</body>
</html>
