<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page21</title>
</head>
<body>
        <main>
            <section>
                <div class="container">
                    <h1>No kid hungry</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.
                    </p>
                    <a href="#">Donate</a>
                </div>
            </section>
            <section class="Area_inferior">
                <div class="bottom-container">
                    <img src="" alt="">
                    <div class="bottom_Area">
                        <h4>3,125</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="bottom-container">
                    <img src="" alt="">
                    <div class="bottom_Area">
                        <h4>3,125</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="bottom-container">
                    <img src="" alt="">
                    <div class="bottom_Area">
                        <h4>3,125</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </section>
            <div class="footer"></div>
    
        </main>
        
    </body>
    </html>
    
</body>
</html>


