<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page19</title>
    <link rel="stylesheet" href="../css/page19-style.css">
</head>
<body>
    <div class="_19">
        <div class="content-top">
          <div class="text">
            <div class="a-place-you-eat-healthy">
              A place you
              <br />
              eat healthy
            </div>
            <div
              class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-faucibus-in-libero-risus-semper-habitant-arcu-eget-et-integer-facilisi-eget-lorem-ipsum-dolor"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in
              libero risus semper habitant arcu eget. Et integer
              <br />
              facilisi eget. Lorem ipsum dolor.
            </div>
            <div class="primary-button">
              <div class="contact-us">Explore the menu</div>
            </div>
          </div>
          <img
            class="unsplash-yhc-4-p-sbl-01-a"
            src="unsplash-yhc-4-p-sbl-01-a0.png"
          />
        </div>
        <img class="rectangle-18" src="rectangle-180.png" />
        <img class="rectangle-19" src="rectangle-190.png" />
        <img class="rectangle-20" src="rectangle-200.png" />
        <div class="image-and-text-bottom-right">
          <div class="frame-14265">
            <div class="frame-14269">
              <div class="rectangle-21"></div>
              <div class="chef-abc">Chef ABC</div>
            </div>
            <div
              class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-faucibus-in-libero-risus-semper"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in
              libero risus semper
            </div>
          </div>
          <div class="frame-14266">
            <img class="ellipse-3" src="ellipse-30.png" />
            <img class="ellipse-4" src="ellipse-40.png" />
            <img class="ellipse-5" src="ellipse-50.png" />
            <img class="ellipse-6" src="ellipse-60.png" />
          </div>
        </div>
      </div>
      
</body>
</html>


