<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page3</title>
    <link rel="stylesheet" href="/css/page3-style.css">
</head>
<body>
    <div class="content">

        <div class="title">
            <h1>Just that simple</h1>
        </div>
    
        <div class="text">
          <div class="text1" >
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in
            libero risus semper habitant arcu eget.
            </p>

          </div>

          <div class="button">
                <a href="first-button"> Get started</a>
         </div>
        </div>

    </div>
    <div class="imagen">
        <img class="hero-image" src="/storage/img/hero Image.png" />
    </div>
</body>
</html></html>