<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page3</title>
    <link rel="stylesheet" href="../css/page3-style.css">
</head>
<body>
    <section class="container">
        <div class="title">
            <h1>Just that simple</h1>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit. Faucibus in libero risus 
                semper habitant arcu eget.</p>
                <br>
            <button>Get started</button>
        </div>
    </section>
    <section>
        <div class="image">
            <img src = "../storage/page3-img/hero Image.png" alt="" >
        </div>
    </section>
    
</body>
</html>