<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page15</title>
    <link rel="stylesheet" href="/css/page15-style.css">
</head>
<body>
    <div class="main_container">
        <div class="text_left">
          <div class="adventure_text">
            Adventure
            <br />
            Voyage
            <br />
            Wandering
          </div>
          <div
            class="lorem"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in
            libero risus semper habitant arcu eget. Et integer facilisi.
          </div>
          <div class="button">
            <div class="get">Get started</div>
          </div>
        </div>
        <div class="text_right">
          <div
            class="lorem2"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in
            libero risus semper habitant arcu eget.
            <br />
            Et integer facilisi
          </div>
          <div class="discover">
            Trave
            <br />
            Explore
            <br />
            Discover
          </div>
        </div>
        <img class="frame_1" src="/storage/img/page15-img/Frame 14216.png" />
        <div class="group_letters">
          <div class="p">P</div> <div class="l">l</div> <div class="a">a</div> <div class="n">n</div> <div class="t">t</div>
          <div class="div"> </div>
          <div class="div2">.</div>
          <div class="div3"> </div>
          <div class="t2">T</div> <div class="r">r</div> <div class="e">e</div> <div class="e2">e</div>
          <div class="div4"> </div>
          <div class="div5">.</div>
          <div class="div6"> </div>
          <div class="n2">N</div> <div class="a2">a</div> <div class="t3">t</div> <div class="u">u</div> <div class="r2">r</div> <div class="e3">e</div>
        </div>
        <img class="frame-2" src="/storage/img/page15-img/Frame 14217.png" />
        <img class="frame-3" src="/storage/img/page15-img/Frame 14221.png" />
        <img class="frame-5" src="/storage/img/page15-img/Frame 14215.png" />
        <img class="frame-4" src="/storage/img/page15-img/Frame 14214.png" />
        <img class="star-3" src="/storage/img/page15-img/Star 3.png" />
        <img class="star-4" src="/storage/img/page15-img/Star 4.png" />
      </div>
      

</body>
</html>


