<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page6</title>
    <link rel="stylesheet" href="../css/page6-style.css">
</head>
<body>
    <main>
        <section class="section_1">
            <div class="circle">
                <img src="../storage/page6-img/Font circle.png">
            </div>

            <article class="content">

                <h1>THE eWatch with the newest microchip technology</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Faucibus in libero risus semper habitant arcu eget. 
                    Et integer facilisi eget diam.
                </p>
                
                <section class="section_buttons">
                    <div class="button1">
                        <button>Order now</button>
                    </div>

                    <div class="button2">
                        <button>Explore more</button>
                    </div>
                </section>
            </article>

            <article class="list">

                <div class="frame">
                    <div class="frame_img">
                        <img src="../storage/page6-img/list.png">
                    </div>
                </div>

            </article>

        </section>

        <section class="section_2">
            <article class="image_group">
                <div class="div_img">
                    <img src="../storage/page6-img/Image group.png">                
                </div>
            </article>
        </section>
    </main>
</body>
</html> 