<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page14</title>
    <link rel="stylesheet" href="../css/page14-style.css">
</head>
<body>
    <div class="main_container">
        <img class="area" src="../storage/page14-img/Image area.png" />
        <div class="content">
          <div class="heart">
            Listen to yourself
            <br />
            Follow your heart
          </div>
          <div
            class="lorem"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in
            libero risus semper habitant arcu eget. Et integer facilisi eget.
          </div>
          <div class="button">
            <div class="download">Download the App</div>
          </div>
        </div>
        <div class="list">
          <div class="frame_1">
            <div class="like1">4.9</div>
            <div class="rectangle"></div>
            <div class="lorem2">Lorem ipsum dolor amet</div>
          </div>
          <div class="frame_2">
            <div class="like2">876K</div>
            <div class="rectangle"></div>
            <div class="lorem2">Lorem ipsum dolor amet</div>
          </div>
          <div class="frame_3">
            <div class="like3">No.1</div>
            <div class="rectangle"></div>
            <div class="lorem2">Lorem ipsum dolor amet</div>
          </div>
        </div>
      </div>
      

</body>
</html>


