<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page9</title>
    <link rel="stylesheet" href="/css/page9-style.css">
</head>
<body>
    <main>
        <div class="images">

            <img class="image-right" src="image-right0.png" />
            <img class="image-left" src="image-left0.png" />
        </div>

        <div class="text">
          <div class="title_design">
            <h1>Interior design</h1>
          </div>

          <div class="lorem">
           <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in
               libero risus semper habitant arcu eget. Et integer facilisi eget.
            </p>
          </div>

          <div class="button1">
            <a href="Explore">Explore</a>
          </div>
        </div>

        <div class="list">
          <div class="frame">
            <div class="column">
              <div class="number">
                <h2>5.8</h2>
              </div>

              <div class="rectangle"></div>
              <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in
                    libero risus semper habitant arcu eget.
                </p>
              </div>
            </div>
            <div class="column">
              <div class="number">
                <h2>99+</h2>
              </div>

              <div class="rectangle"></div>
              <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in
                    libero risus semper habitant arcu eget.
                </p>
              </div>
            </div>
            <div class="column">
              <div class="number">
                <h2>110K</h2>
              </div>

              <div class="rectangle"></div>
              <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in
                    libero risus semper habitant arcu eget.
                </p>
              </div>

            </div>
          </div>
          
        </div>
    </main>
      
</body>
</html>


