<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page17</title>
    <link rel="stylesheet" href="/css/page17-style.css">
</head>
<body>
    <div class="container_main">
        <div class="content">
          <div class="love">Find the project you love</div>
          <div
            class="lorem"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in
            libero risus semper habitant arcu eget. Et integer facilisi eget
            diam.Lorem ipsum dolor sit ame,consectetur
          </div>
          <div class="button">
            <div class="explore">Explore</div>
          </div>
        </div>

        <img class="image" src="/storage/img/page17-img/image (1).png" />
        <div class="list">

          <div class="frame1">
            <div class="title1">Title 1</div>
            <div class="rectangle16"></div>
            <div class="lorem_short">
              Lorem ipsum dolor
              <br />
              sit amet, consectetur
            </div>
          </div>
          <div class="frame2">
            <div class="title1">Title 1</div>
            <div class="rectangle16"></div>
            <div class="lorem_short">
              Lorem ipsum dolor
              <br />
              sit amet, consectetur
            </div>
          </div>
          <div class="frame3">
            <div class="title1">Title 1</div>
            <div class="rectangle16"></div>
            <div class="lorem_short">
              Lorem ipsum dolor
              <br />
              sit amet, consectetur
            </div>
          </div>
          <div class="frame4">
            <div class="title1">Title 1</div>
            <div class="rectangle16"></div>
            <div class="lorem_short">
              Lorem ipsum dolor
              <br />
              sit amet, consectetur
            </div>
          </div>
        </div>
        <div class="img_bottom">
          <img class="frame14243" src="/storage/img/page17-img/Frame 14243.png" />
          <img class="frame14244" src="/storage/img/page17-img/Frame 14244.png" />
          <img class="frame14245" src="/storage/img/page17-img/Frame 14245.png" />
        </div>
      </div>
      
</body>
</html>


