<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page2</title>
    <link rel="stylesheet" href="../css/page2-style.css">
</head>
<body>
    <div class="container_content">
       <div class="text">
            <h1> Discover the beauty around the world </h1>
            <p>
                Faucibus in libero risus semper habitant arcu.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            </p>
       </div>
       
        <div class="button">
            <a href="button"> Get started</a>
       </div>

       <div class="top_img" >
            <img src="../storage/img/Image left.png" alt="">
            <img src="../storage/img/Image right.png" alt="">
       </div>

       <div class="others">

        <div class="numbers">
            <h3>01</h3>
            <h3>02</h3>
            <h3>03</h3>
        </div>
            <div class="imgs">
                <img src="../storage/img/down1.png" alt="">
                <img src="../storage/img/down2.png" alt="">
                <img src="../storage/img/down3.png" alt="">
            </div>
            
       </div>

    </div>

    
</body>
</html>